.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }


  .container {
    text-align: center;
    }

.container button {
    margin-top: 10px;
    }
 