/* code to center div */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }


  .container {
    text-align: center;
    }

.container button {
    margin-top: 10px;
    }


#btn2{
  margin:20px;
}

#btn1{
  margin:20px;
}