
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, red , blue);
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5 rem;
    margin-bottom: 10px;
}


.container{
    text-align: center;
    background: #ffffff;
    padding: 2rem;
    border-radius: .7rem;
    width: 40rem;
    margin: 10rem auto;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.4);
    transition: .3s;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input label {
    font-size: 1.8rem;
    text-align: left;
} 

.input input {
    padding: 1.2rem;
    font-size: 2.5rem;
    width: 93%;
    margin-top: -1rem;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: 1px solid gray;
    border-radius: .5rem;
}